/**
 * Buttons
 */

button,
.btn {
  border-radius: 0;
  padding-right: 6.6rem;
  padding-left: 6.6rem;
  font-family: $font-bold;
  font-size: 1.6rem;
  transform: translateY(0) skewX(-10deg);
  backface-visibility: hidden;
  transition: all 0.3s ease;

  .text {
    display: inline-block;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    transform: skewX(10deg);
  }

  &:hover {
    transform: translateY(-4%) skewX(-10deg);
    transition: all 0.3s ease;
  }

  &:active {
    transform: translateY(4%) skewX(-10deg);
    transition: all 0.3s ease;
  }
}
