/**
 * Gallery
 */

.gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 2.4rem;

  .gallery-link {
    position: relative;
    width: 23%;
    height: auto;
    margin-bottom: 0;

    .gallery-thumb { margin-bottom: 0; }

    .count {
      display: none;
      position: absolute;
      top: 23%;
      left: 20%;
      margin-bottom: 0;
      font-size: 1.4rem;
      font-family: $font-bold;
      font-weight: bold;
      color: theme-color("white");
    }

    &.-hidden {
      display: none;
    }
  }

  @include mq_min(768px) {
    .gallery-link {
      width: 7rem;
      height: 7rem;

      .count { display: block; }
    }
  }
}
