/**
 * Hamburger
 */

.burger-btn-container {
  width: 5.6rem;
  height: 5.6rem;
  background-color: theme-color("yellow");
}

/* Icon 1 */
#nav-icon1 {
  width: 3.2rem;
  height: 4.8rem;
  position: relative;
  margin: 1.6rem auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  &.open { margin-top: 0.8rem; }
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 0.3rem;
  width: 100%;
  margin-bottom: 0;
  background: theme-color("white");
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) { top: 0; }
#nav-icon1 span:nth-child(2) { top: 1rem; }
#nav-icon1 span:nth-child(3) { top: 2.1rem; }

#nav-icon1.open span:nth-child(1) {
  top: 1.8rem;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -6rem;
}

#nav-icon1.open span:nth-child(3) {
  top: 1.8rem;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
