/**
 * Fonts
 *
 * Importing project fonts
 */

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("../../fonts/IBMPlexSans-Bold.otf") format("OpenType");
}

@font-face {
  font-family: "IBMPlexSans-BoldItalic";
  src: url("../../fonts/IBMPlexSans-BoldItalic.otf") format("OpenType");
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../../fonts/IBMPlexSans-Medium.otf") format("OpenType");
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../../fonts/IBMPlexSans-SemiBold.otf") format("OpenType");
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../../fonts/IBMPlexSans-Medium.otf") format("OpenType");
}

@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("../../fonts/IBMPlexSans-Regular.otf") format("OpenType");
}
