/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  "yellow"      : #ffd100,
  "light-yellow": #ffe77a,
  "white"       : #fff,
  "black"       : #000,
  "grey"        : #808080
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$base-font-size: 10;
$base-line-height: 1.5;

$font-bold: "IBMPlexSans-Bold";
$font-bold-italic: "IBMPlexSans-BoldItalic";
$font-semibold: "IBMPlexSans-SemiBold";
$font-medium: "IBMPlexSans-Medium";
$font-regular: "IBMPlexSans-regular";
